html,
body {
  @apply .font-display font-normal;
}

* {
  box-sizing: border-box;
}

p {
  @apply .font-display text-base .font-normal leading-p;
}

a {
  @apply .no-underline .outline-none;
	transition: color 400ms;
	&.text-black {
		@screen lg {
			&:hover {
				@apply text-grey;
			}
		}
	}
}

ul.menu {
  @apply .list-reset;
}

.container {
  @apply .relative w-full px-20 .mx-auto .overflow-x-hidden;
  max-width: 1280px;
  @screen xl {
    @apply .px-0;
  }
}

.site-content {
  @apply .overflow-x-hidden;
}
