.archive.woocommerce {
  .woocommerce-breadcrumb {
    @apply hidden;
  }
}

.woocommerce ul.products {
  @extend .container;
}

.woocommerce-products-header,
.entry-header {
  margin-top: 52px;
  margin-bottom: 17px;
}

.entry-title {
  @apply text-black .font-bold text-4xl .text-center .leading-tight;
}

.archive-description {
  padding-bottom: 48px;
  @screen sm {
    @apply pb-20;
  }
}

.woocommerce-loop-product__title {
  @apply .text-base .font-normal;
  line-height: 1.38;
  color: #8c8c8c;
}

.woocommerce-Price-amount {
  @apply text-sm text-black;
}

.price ins {
  @apply .no-underline;
  .woocommerce-Price-amount {
    @apply text-gold .font-normal;
  }
}

.woocommerce span.onsale {
  @apply text-sm p-0;
  color: #373737;
  background-color: transparent;
}

.archive.woocommerce ul.products[class*="columns-"] li.product,
.archive.woocommerce-page ul.products[class*="columns-"] li.product {
  @media screen and (max-width: 576px) {
    @apply .w-full;
    margin-bottom: 35px;
  }
}

/* Single Product */
.woocommerce.single.single-product {
  .flex-control-nav.flex-control-thumbs {
    @apply .flex .flex-wrap .justify-center;
    @screen xl {
      @apply .justify-start;
    }
  }
  .technical {
    padding-top: 44px;
    table {
      td {
        @apply pb-10 text-grey pr-10;
        strong {
          color: #555555;
        }
      }
    }
  }
  .full-description {
    h1,
    h2 {
      @apply .font-normal .text-3xl .leading-tight;
      margin-top: 12px;
      margin-bottom: 55px;
    }
  }
  .related.products,
  .product-info {
    border-bottom: 1px solid #eeeeee;
  }
  .product-info {
    margin-bottom: 56px;
  }
  .container,
  .woocommerce-breadcrumb {
    @apply .mx-auto px-20;
    max-width: 1360px;
    @screen xl {
      @apply px-0;
    }
  }
  .related.products {
    clear: both;
    h2:not(.woocommerce-loop-product__title) {
      @apply .font-normal text-2xl mb-30;
    }
  }
  div.product a {
    @apply text-gold;
  }
  .content-area {
    padding-top: 31px;
  }
  .woocommerce-breadcrumb {
    @apply mb-50 hidden;
    color: #a1a1a1;
    a {
      color: #555555;
    }
    @screen lg {
      @apply block;
    }
  }
  .woocommerce-product-gallery {
    @screen lg {
      max-width: 525px;
    }
  }
  div.images .woocommerce-product-gallery__image:nth-child(n + 2) {
    width: 60px;
  }
  .product_title.entry-title {
    @apply .text-22px .text-left .text-black .font-normal;
    @screen md {
      @apply .text-26px;
    }
  }
  p.price .woocommerce-Price-amount {
    @apply text-2xl .text-gold;
    @screen md {
      @apply text-3xl;
    }
  }
  .woocommerce-product-details__short-description {
    @apply .pb-30 mb-30;
    border-bottom: 1px solid #dadada;
  }
  div.product {
    .woocommerce-variation-description p {
      @apply .mb-40;
    }
    .woocommerce-product-gallery--columns-4
      .flex-control-thumbs
      li:nth-child(4n + 1) {
      clear: none;
    }
    div.images .flex-control-thumbs li {
      max-width: 60px;
    }
  }
  .product_meta {
    @apply hidden;
  }
  table.variations {
    td.label {
      padding: 15px 0;
    }
  }
  form.cart .variations select {
    -webkit-appearance: none;
    padding: 20px 15px;
    border-radius: 6px;
  }
  div.product .call-to-order {
    @apply .text-white .bg-black w-full .inline-block .text-center;
    height: 44px;
    line-height: 44px;
  }
}

a.products-load-more {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  .fa-spinner {
    top: -7px;
    right: -40px;
  }
  @screen ipad {
    &:hover {
      @apply .text-gold;
    }
  }
}

.search {
  .woocommerce-breadcrumb {
    @apply hidden;
  }
}
